body {
	max-width: 960px;
	vertical-align: middle;
	margin: 0 auto;
	background-color: grey;
	font-family: 'Roboto', sans-serif;
	margin-top: 70px;
}

.lp-brown {
	background-color: #443333;
}


#header_id {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100vw;
	left: 0;
	height: 70px;
	background-color: white;
	font-family: 'Kreon', sans-serif;
}

#header_id div {
	max-width: 960px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#header_id ul {
	list-style-type: none;
	padding: 0;
}

#header_id li {
	min-width: 120px;
	display: flex;
	justify-content: center;
}

#header_id li a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}

#lp-logo img {
	width: 100px;
}

.lp-button {
	width: 150px;
	height: 40px;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}

.hover-dark-gray:hover {
	background-color: rgba(20,20,20,0.8) !important;
}
.hover-light-gray:hover {
	background-color: rgba(210,210,210,0.3) !important;
}

#home_id .lp-button, #events_id .lp-button {
	background-color: rgba(0,0,0,0.8);
	margin: auto;
}

#menu_id .lp-button {
	display: inline-block;
}

#menu_id .lp-button:hover {
	background-color: rgba(255,255,255,0.1)
}

#menu_id .lp-button.selected {
	background-color: rgba(0,100,0,0.8);
}

#menu_id .lp-button.selected:hover {
	background-color: rgba(20,120,20,0.8)
}

#events_id .lp-button {
	display: block;
}

#home_id {
    background-image: url("../../images/header.jpg");
    background-position: center;
    background-repeat:no-repeat;
    height:400px;
    background-size:cover;
}

#home_id h1 {
    background-color:black;
    color:white;
    position:relative;
    top:35%;
    font-weight:100;
    font-size:48px;
    text-align:center;
}

#home_id a {
    display: block;
    position: relative;
    top: 38%;
}

/*
 * EVENT SECTION
 */

#events_id{
    color:white;
    padding-top:60px;
}

#events_id h3{
    text-align: center;
}

#events_id > h3{
    font-size:24px;
    margin-top:0;
}

#events_id .event-container{
    display: flex;
    overflow:hidden;
    justify-content:space-around;
}


#events_id .container-element{
    text-align:center;
    flex-basis: 25%;
    order:1;
}

#events_id .container-element  a{
    color:white;
    text-decoration: none;
}

#events_id .container-element p a{
    font-weight:bold;
}

#events_id .container-element h3{
    margin-bottom:0px;
    padding-top:10px;
}

#events_id .container-element h2{
    font-size:12px;
    margin-top:4px;
}

#events_id .container-element span{
    display:block;
    margin: 0 auto;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    border-style:solid;
    border-width:1px;
    border-color:rgba(255,255,255,0.4);
}

#upcoming_event_id .container-element span{
    width:130px;
    height:130px;
}

#past_event_id .container-element span{
    width:70px;
    height:70px;
}

#events_id .cooking-event span{
    background-image: url(../../images/cooking.jpg);
}

#events_id .pasta-event span{
    background-image: url(../../images/2.jpg)
}

#events_id .happy-event span{
    background-image: url(../../images/3.png)
}

#events_id .birthday-event span{
    background-image: url(../../images/4.jpg)
}

input, textarea {
	font-family: 'Roboto', sans-serif;
}

.contact-two-col-row, .booking-two-col-row {
	display: flex;
	margin: 10px auto;
	justify-content: space-between;
}

.half-width-column {
	width: 49%;
}

.lp-input {
	min-height: 40px;
	width: 100%;
	padding: 5px 10px;
	border: 0.5px solid rgba(200, 200, 200, 1);
	border-radius: 3px;
	background-color: rgba(240,240,240, 1);
	box-sizing: border-box;
}

textarea.lp-input {
	height: 200px;
}

#contact_form_id {
	display: flex;
	justify-content: center;
	background-color: white;
}

#contact_form_container_id {
	width: 80%;
	max-width: 500px;
}

#contact_buttons_list_container_id {
	margin: 20px auto;
}

#contact_buttons_list_id {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	list-style-type: none;
}

#contact_buttons_list_id li {
	display: inline-block;
}

#contact_buttons_list_id li:first-of-type input {
	background-color: black;
	margin-right: 10px;
}

#contact_buttons_list_id li:last-of-type input {
	background-color: white;
	color: rgba(170, 170, 170, 1);
	border: 1px solid rgba(170, 170, 170, 1);
}

#booking_id {
	background-image: url('../../images/book-table.jpg');
	background-size: cover;
}

#booking_inner_id {
	max-width: 400px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#booking_title_id {
	color: white;
	margin: auto;
	padding: 20px;
	text-shadow: 2px 2px 2px black;
}

#booking_form_container_id {
	width: 80%;
}

#booking_button_id {
	display: block;
	background-color: black;
	margin: 20px auto;
}
